{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class = "alert {{message.tags}}">{{message}}</div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>"
</body>
</html>